Pandas基礎2
* Pandas の代表的な機能の使い方を説明します。

  CSV ファイルの読み書き、統計量の算出、並べ替え、データの選択、条件指定による選択、欠損値の除去 / 補間、ndarray とデータフレームを相互に変換、グラフの描画
---
Pandas basics 2
* This section explains how to use typical Pandas functions.

  Reading and writing CSV files, Calculating statistics, Sorting, Selecting data, Selection by condition specification, Remove missing values / interpolate, Convert ndarray and data frames to each other, Drawing graphs

In [1]:
# ColabからGoogle ドライブのファイルにマウント（連携）しアクセスします。
# Mount (link) and access Google Drive files from Colab.

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Pandasを利用するには、Pandasのライブラリを読み込みする必要があります。以下のコードで、Pandasをpdという名前で扱えるようにします。
# To use Pandas, you need to load the Pandas library. The following code will allow you to handle Pandas under the name pd.

import pandas as pd

* データセットは[こちら](https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv)をダウンロードして使用してください。
* Download and use the dataset [here](https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv).

* Pandas では CSV ファイルを読み込むための `pd.read_csv()` という関数が用意されています。こちらを使って CSV ファイルを読み込みます。
* Pandas provides a function `pd.read_csv()` to read CSV files. Use this function to read CSV files.

* pandas.read_csv: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
* pandas.read_excel: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [3]:
# データセットの読み込み
# Read dataset

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/3data/california_housing_train.csv')

* dfという変数名は、データフレームという Pandas で用いられるデータ構造を表すクラスの名前の頭文字に由来しています。`pd.read_csv()` 関数は、CSV ファイルの内容を `DataFrame` オブジェクトに読み込みます。
* The variable name "df " is derived from the initial letter of the name of a class that represents a data structure used in Pandas called a data frame.The `pd.read_csv()` function reads the contents of a CSV file into a `DataFrame` object.

In [4]:
# 型の確認
# Check the type

type(df)

pandas.core.frame.DataFrame

* `df`に読み込まれたデータの中身の確認してみます。Jupyter Notebook 上では、大きな DataFrame を表示しようとすると自動的に一部が省略されることがあります。
* Check the contents of the data read into `df`. On Jupyter Notebook, trying to display a large DataFrame may cause some parts of it to be automatically omitted.

In [5]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

* データを数件のみ確認したい場合は、データフレームがもつ `df.head()` メソッドを使用します。
* `df.head()` はデフォルトで先頭から 5 件のデータを表示しますが、`df.head(3)` のように引数に表示したいデータ件数を指定すると、指定された件数だけを表示することもできます。
---
* If you want to check only a few data, use the `df.head()` method of the data frame.
* `df.head()` displays the first 5 data by default, but you can specify the number of data you want to display as an argument, such as `df.head(3)`, to display only the specified number of data.

* pandas.DataFrame.head: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [7]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0

* 特定の列を抽出したい場合は、`df` に対しPython の辞書オブジェクトに行うように `[]` を使って取り出したい列の名前を指定します。
* If you want to extract a specific column, use `[]` against `df` to specify the name of the column you want to extract, as you would do for a Python dictionary object.

In [8]:
df['longitude'].head(3)

0   -114.31
1   -114.47
2   -114.56
Name: longitude, dtype: float64

* Pandas ではデータフレームオブジェクトの内容をCSV ファイルとして保存するための `df.to_csv()` というメソッドが用意されています。
* Pandas provides `df.to_csv()` method to save the contents of a data frame object as a CSV file.

* pandas.DataFrame.to_csv: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [9]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/3data/sample.csv')

* データフレームオブジェクトの行数と列数を確認するには、`df.shape()` メソッドを用います。
* pandas.DataFrameのshape属性で行数と列数のタプル(行数, 列数)を取得できます。
---
* To check the number of rows and columns in a data frame object, use the `df.shape()` method.
* DataFrame's shape attribute allows you to get a tuple (number of rows, number of columns) of the number of rows and number of columns.

* pandas.DataFrame.shape: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

In [10]:
# 形の確認
# Check the shape

df.shape

(17000, 9)

* データフレームには中のデータに対し**統計量を計算するためのメソッド**も用意されています。代表的なものを紹介します。
* The data frame also provides **methods for calculating statistics** for the data in it. The following is a list of typical methods.

* pandas.DataFrame.mean: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html

In [11]:
# 平均: 各列の平均値を算出
# mean: Calculate the mean value of each column

df.mean()

longitude               -119.562108
latitude                  35.625225
housing_median_age        28.589353
total_rooms             2643.664412
total_bedrooms           539.410824
population              1429.573941
households               501.221941
median_income              3.883578
median_house_value    207300.912353
dtype: float64

* pandas.DataFrame.var: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.var.html

In [12]:
# 分散
# variance

df.var()

longitude             4.020692e+00
latitude              4.568221e+00
housing_median_age    1.584310e+02
total_rooms           4.752169e+06
total_bedrooms        1.776618e+05
population            1.317566e+06
households            1.478563e+05
median_income         3.641061e+00
median_house_value    1.345223e+10
dtype: float64

* pandas.DataFrame.count: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.count.html

In [13]:
# 各列の None, NaN, NaT のいずれでもない値の数
# Number of values in each column that are not None, NaN, or NaT

df.count()

longitude             17000
latitude              17000
housing_median_age    17000
total_rooms           17000
total_bedrooms        17000
population            17000
households            17000
median_income         17000
median_house_value    17000
dtype: int64

* データの特徴をおおまかに調べるために便利な `df.describe()` メソッドを実行してみましょう。
* Let's execute the `df.describe()` method, which is useful for a rough examination of data characteristics.

* pandas.DataFrame.describe: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

In [14]:
# データの概要
# Data overview

df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

* 便利なメソッドに相関係数を算出する `df.corr()` があります。入力変数間や入出力間の相関係数を確認することができます。
* A useful method is `df.corr()`, which calculates correlation coefficients. You can check correlation coefficients between input variables or between inputs and outputs.

pandas.DataFrame.corr: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html
* NA/null 値を除いた列のペアワイズ相関を計算する。
* Compute pairwise correlation of columns, excluding NA/null values.

In [15]:
# 相関係数の算出
# Calculate correlation coefficients

df.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.925208,-0.114250,0.047010,0.071802,0.101674,0.059628,-0.015485,-0.044982
latitude,-0.925208,1.000000,0.016454,-0.038773,-0.069373,-0.111261,-0.074902,-0.080303,-0.144917
housing_median_age,-0.114250,0.016454,1.000000,-0.360984,-0.320434,-0.295890,-0.302754,-0.115932,0.106758
total_rooms,0.047010,-0.038773,-0.360984,1.000000,0.928403,0.860170,0.919018,0.195383,0.130991
total_bedrooms,0.071802,-0.069373,-0.320434,0.928403,1.000000,0.881169,0.980920,-0.013495,0.045783
population,0.101674,-0.111261,-0.295890,0.860170,0.881169,1.000000,0.909247,-0.000638,-0.027850
households,0.059628,-0.074902,-0.302754,0.919018,0.980920,0.909247,1.000000,0.007644,0.061031
median_income,-0.015485,-0.080303,-0.115932,0.195383,-0.013495,-0.000638,0.007644,1.000000,0.691871
median_house_value,-0.044982,-0.144917,0.106758,0.130991,0.045783,-0.027850,0.061031,0.691871,1.000000

* 着目したい要素や、行、列を選択する方法を紹介します。
* 列や行の選択を行う方法は複数あります。ここでは、整数インデックスを用いてデータの部分選択を行う `df.iloc[]` を紹介します。
---
* This section shows you how to select the elements, rows, and columns you want to focus on.
* There are multiple ways to perform column and row selection. Here we introduce df.iloc[], which performs partial selection of data using integer indices.

In [16]:
# データの確認
# Check the data

df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0

* pandas.DataFrame.iloc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

列を指定する方法

* df[列名]
* df.loc[:, 列名]
* df.iloc[:, 列番号]
* locやilocの引数は行→列の順になっています。
* df.iloc[行, 列]
* コロン（：）だけ書かれているのはすべての行を指定するという意味です。
---
How to specify columns

* df[column name]
* df.loc[:, column name].
* df.iloc[:, column number].
* The arguments of loc and iloc are in order from row to column.
* df.iloc[row, column]
* Only a colon (:) is written to mean that all rows are specified.

In [17]:
# df.iloc[行, 列]
# df.iloc[row, column]

# 0 行目 longitude 列の選択
# Row 0 longitude column selection

df.iloc[0, 0]

np.float64(-114.31)

In [18]:
# 1 行目 latitude 列の選択
# Row 1 latitude column selection

df.iloc[1, 1]

np.float64(34.4)

* `iloc` には NumPy の ndarray の中の値を部分的に選択するのと同様のスライス表記を用いることができます。
* 負のインデックスを使い、末尾の要素からの個数を用いて位置指定を行うこともできます。
---
* iloc can use a slice notation similar to that used to partially select values in NumPy's ndarray.
* Negative indices can also be used to specify position using the number of pieces from the tail element.

In [19]:
# すべての行の 最後の列を選択
# Select all rows, last column

t = df.iloc[:, -1]

In [20]:
# 先頭3件の表示
# Display the first 3 results

t.head(3)

0    66900.0
1    80100.0
2    85700.0
Name: median_house_value, dtype: float64

In [21]:
# 型の確認
# Check type

type(t)

pandas.core.series.Series

* 1 行だけ、もしくは 1 列だけ抽出した場合は、シリーズ (series)オブジェクトが返されます。
* If only one row or column is extracted, a series object is returned.

In [22]:
# すべての行の 先頭の列から末尾の列のひとつ手前までを選択
# Select all rows from the first column to the one before the last column

x = df.iloc[:, 0:-1]

In [23]:
# 先頭の3件の表示
# Display the first 3 results

x.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509

In [24]:
# すべての行の 先頭の列から末尾の列のひとつ手前までを選択
# Select all rows from the first column to the one before the last column

x = df.iloc[:, :-1]

In [25]:
# 先頭の3件の表示
# Display the first 3 results

x.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509

* 行の数、列の数両方を複数選択した場合、データフレームオブジェクトが返ります。
* If multiple selections are made for both the number of rows and the number of columns, a data frame object is returned.

In [26]:
# 型の確認
# Check type

type(x)

pandas.core.frame.DataFrame

* 欠損値の除去の方法を紹介します。
* Here is how to remove missing values.

In [27]:
# 欠損値を人為的に作成
# Artificially created missing values

df.iloc[0, 0] = None

In [28]:
# (0, 'longitude') の要素が NaN になっていることを確認
# (0, 'longitude') element is NaN

df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,NaN,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0

* NaN (Not a Number)非数: 未定義な値か、特に浮動小数点数の計算の結果で、表すことができない数値(データ型)のことを言います。
* NaN (Not a Number): An undefined value or a number (data type) that cannot be represented, especially as the result of a floating-point number calculation.

* pandas.DataFrame.dropna: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

In [29]:
# 欠損値のあるレコードを削除
# Delete records with missing values

df_dropna = df.dropna()

# 先頭から 3 件を表示
# Display first 3 results

df_dropna.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0

* 上の結果と見比べると、`NaN` を含んでいた 0 行目のデータが取り除かれていることが分かります。
* 次に、平均を使った欠損値の補完を行ってみましょう。
* まずは、補完に使用する平均値の計算を行います。
---
* Comparing the results with those above, we can see that the data in row 0, which contained `NaN`, has been removed.
* Next, let's try to fill in the missing values using averages.
* The first step is to calculate the average value to be used for supplementation.

In [30]:
mean = df.mean()
mean

longitude               -119.562417
latitude                  35.625225
housing_median_age        28.589353
total_rooms             2643.664412
total_bedrooms           539.410824
population              1429.573941
households               501.221941
median_income              3.883578
median_house_value    207300.912353
dtype: float64

* 計算した各列の値の平均が格納されている `mean` を、`df.fillna()` メソッドに渡すことで、`mean` を用いた欠損値の補完を行うことができます。
* You can use mean to complete missing values by passing mean, which contains the average of the calculated values for each column, to the df.fillna() method.

* pandas.DataFrame.fillna: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

In [31]:
# 欠損値を mean で補完
# Missing values are supplemented with mean

df_fillna =  df.fillna(mean)

# 先頭から 3 件を表示
# Display first 3 results

df_fillna.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-119.562417,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.470000,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.560000,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0

* 0 行目の `longitude` 列に、 `longitude` の`mean` の値が表示されていることが分かります。
* You can see that the `longitude` column in row 0 shows the `mean` value of `longitude`.